@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

li {
  border-bottom: 1px solid #d1d5db;
}

li p {
  margin: 0; 
}

li:hover {
  background-color: #cfcccc; 
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}